<main>
  <div class="container">
    <table id="cart" class="table table-hover table-condensed">
      <thead>
        <tr>
          <th style="width:50%">Product</th>
          <th style="width:10%">Price</th>
          <th style="width:8%">Quantity</th>
          <th style="width:22%" class="text-center">Subtotal</th>
          <th style="width:10%"></th>
        </tr>
      </thead>
      
        <img *ngIf="showLoader" src="../../../assets/Spinner.gif" alt="">
        <tbody *ngFor="let pizza of pizzas" class="cart-item">
             <tr app-cart (totalPriceChanged)="updateTotalPrice($event)" (itemRemoved)="updateCartList($event)" [pizza]="pizza"></tr>   
        </tbody>

      <tfoot>
        <tr class="visible-xs">
          <td class="text-center"><strong>Total ${{totalPrice}}</strong></td>
        </tr>
        <tr>
          <td><a routerLink="/pizzas" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
          <td colspan="2" class="hidden-xs"></td>
          <td class="hidden-xs text-center"><strong>Total ${{totalPrice}}</strong></td>
          <td><a class="btn btn-success btn-block" (click)="checkOut()">Checkout <i class="fa fa-angle-right"></i></a></td>
        </tr>
      </tfoot>
    </table>
  </div>
</main>