<div class="container">
    <div class="jumbotron jumbotron-sm" style="background-color:#339966;margin-top:2%;color:white;">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h2" style="margin-top:-2%">
                    Pizza Hub
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3 style="line-height:20%;"><i class="fa fa-home fa-1x" style="line-height:6%;color:#339966"></i> Adress:</h3>               
                <p style="margin-top:6%;line-height:35%">Sofia, Bul "Al. Malinov 31"</p>
                <br />
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-envelope fa-1x" style="line-height:6%;color:#339966"></i> E-Mail Adress:</h3>
                <p style="margin-top:6%;line-height:35%">info@pizzahub.com</p>
                <br />
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-user fa-1x" style="line-height:6%;color:#339966"></i> About us:</h3>
                <p style="margin-top:6%;line-height:35%">Leading pizza delivery restaurant, since 2001!</p>
                <br />
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-yelp fa-1x" style="line-height:6%;color:#339966"></i> Got Questions?</h3>
                <p style="margin-top:6%;line-height:35%"><a href="contactus">Contact us now!</a></p>
            </div>
        </div>
        <div class="col-sm-6">
            <iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJa-QiA5SGqkARIbhz0Ykqz50&key=AIzaSyD9PORuVEK7yz-3saKpOXpGJCoIdQ8L96c" width="565" height="430" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>
       
