.container {
     margin-top: 0 0 125px;
    width: 80%;
    padding: 25px;
    border-radius: 45px;
}
img{
    margin-top: 80px;
    width: 300px;
}

.address{
    margin-left: 30px;
    font-size: 18px;
}

li{
    list-style-type: none;
}

main {
    margin-top: 75px;
}