main {
    background-image: url('../../../assets/wooden-background.jpg');
    margin-top: 50px;
    min-height: 100vh;
}

.orders-container {
    margin-bottom: 125px;
}

.page-btns {
    margin-top: 50px;
}


