<main>
  <div class="container">
    <h1 class="well">Register</h1>
    <div class="col-lg-12 well">
      <div class="row">
        <form #form="ngForm" (ngSubmit)="registerUser(form?.value)">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-12 form-group">
                <label>Username</label>
                <input name="username" type="text" placeholder="Enter Username Here.." class="form-control" [(ngModel)]="username">
              </div>
              <div class="col-sm-6 form-group">
                <label>First Name</label>
                <input name="firstName" type="text" placeholder="Enter First Name Here.." class="form-control" [(ngModel)]="firstName">
              </div>
              <div class="col-sm-6 form-group">
                <label>Last Name</label>
                <input name="lastName" type="text" placeholder="Enter Last Name Here.." class="form-control" [(ngModel)]="lastName">
              </div>
              <div class="col-sm-6 form-group">
                <label>Password</label>
                <input name="password" type="password" placeholder="Enter Password Here.." class="form-control" [(ngModel)]="passowrd">
              </div>
              <div class="col-sm-6 form-group">
                <label>Confirm Password</label>
                <input name="confirmPassword" type="password" placeholder="Enter Password Here.." class="form-control" [(ngModel)]="confirmPassword">
              </div>
            </div>
            <div class="row">
              <fieldset ngModelGroup="address">
                <div class="col-sm-4 form-group">
                  <label>City</label>
                  <input name="city" type="text" placeholder="Enter City Name Here.." class="form-control" [(ngModel)]="city">
                </div>
                <div class="col-sm-4 form-group">
                  <label>Country</label>
                  <input name="country" type="text" placeholder="Enter Country Name Here.." class="form-control" [(ngModel)]="country">
                </div>
                <div class="col-sm-4 form-group">
                  <label>Street</label>
                  <input name="street" type="text" placeholder="Enter Street Code Here.." class="form-control" [(ngModel)]="street">
                </div>
              </fieldset>
            </div>
            <div class="form-group">
              <label>Additional Address Details</label>
              <textarea name="additionalInfo" placeholder="Enter Additional Address Details Here.." rows="3" class="form-control" [(ngModel)]="additionalInfo"></textarea>
            </div>
            <div class="form-group">
              <label>Phone Number</label>
              <input name="phoneNumber" type="text" placeholder="Enter Phone Number Here.." class="form-control" [(ngModel)]="phoneNumber">
            </div>
            <button type="submit" class="btn btn-lg btn-info">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <h3>{{errorMessage}}</h3>
  </div>
</main>