<td data-th="Product">
  <div class="row">
    <div class="col-sm-2 hidden-xs"><img src="{{pizza.imageUrl}}" alt="..." class="img-responsive" /></div>
    <div class="col-sm-10">
      <h4 class="nomargin">{{pizza?.name}}</h4>
      <p>{{errorMessage}}</p>
    </div>
  </div>
</td>
<td data-th="Price">{{pizza?.price}}$</td>
<td data-th="Quantity">
  <input type="number" min="0" (input)="changeSubTotal($event)" class="form-control text-center" value="{{pizza.quantity}}">
</td>
<td data-th="Subtotal" class="text-center">{{subTotal}}$</td>
<td class="actions" data-th="">
  <button class="btn btn-danger btn-sm" (click)="removeFromCart()"><i class="fa fa-trash-o"></i></button>
</td>