<h2> Here you can make your own selection </h2>

<div id='make-pizza-container'>

  <ul>
    <li class='select-menu'>
      <div class='dropdown'>
        <button  class='btn btn-outline-primary dropdown-toggle' type='button' data-toggle='dropdown'>Choose size
  <span class='caret'></span></button>
        <ul class='dropdown-menu'>
          <li class="input-group-addon beautiful" *ngFor='let size of sizes'>
            <input required type='radio' name='radio-choice' value='{{size}}' (change)='selectSize($event, size)' required>{{size.type}} {{size.price}}$
          </li>
        </ul>
        <!-- <span class='selected-product'>Selected size: {{selectedSize[0].type}} {{selectedSize[0].price}}$
        </span> -->
      </div>
    </li>

    <li class='select-menu'>
      <div class='dropdown'>
        <button class='btn btn-outline-primary dropdown-toggle' type='button' data-toggle='dropdown'>Choose flour
  <span class='caret'></span></button>
        <ul class='dropdown-menu'>
          <li class="input-group-addon beautiful" *ngFor='let flour of flours'>
            <input type='radio' name='flourType' value='{{flour}}' (change)='selectFlour($event, flour)'>{{flour.type}} {{flour.price}}$
          </li>
        </ul>
        <!-- <span class='selected-product'>Selected flour: {{selectedFlour[0].type}} {{selectedFlour[0].price}}$
        </span> -->
      </div>
    </li>

    <form #d='ngForm'>
      <li class='select-menu'>
        <div class='dropdown'>
          <button class='btn btn-outline-primary dropdown-toggle' type='button' data-toggle='dropdown'>Choose dairy
  <span class='caret'></span></button>
          <ul class='dropdown-menu'>
            <li class="input-group-addon beautiful" *ngFor='let dairy of dairies'>
              <input type='checkbox' name='dairy' value='{{dairy}}' (change)='selectDairy($event, dairy)'>{{dairy.type}}
              {{dairy.price}}$
            </li>
          </ul>
          <!-- <span class='selected-product'>Selected dairies:
          <li *ngFor = 'let pr of selectedDairies' class = 'checked'>
           {{ pr.type }} {{pr.price}}$
          </li>
        </span> -->
        </div>
      </li>
    </form>


    <li class='select-menu'>
      <div class='dropdown'>
        <button class='btn btn-outline-primary dropdown-toggle' type='button' data-toggle='dropdown'>Choose meat
  <span class='caret'></span></button>
        <ul class='dropdown-menu'>
          <li class="input-group-addon beautiful" *ngFor='let meat of meats'>
            <input type='checkbox' name='meat' value='{{meat}}' (change)='selectMeat($event, meat)'>{{meat.type}} {{meat.price}}$
          </li>
        </ul>
        <!-- <span class='selected-product'>Selected meats: 
          <li *ngFor = 'let pr of selectedMeats' class = 'checked'>
           {{ pr.type }} {{pr.price}}$
          </li>
        </span> -->
      </div>
    </li>

    <li class='select-menu'>
      <div class='dropdown'>
        <button class='btn btn-outline-primary dropdown-toggle' type='button' data-toggle='dropdown'>Choose sauce
  <span class='caret'></span></button>
        <ul class='dropdown-menu'>
          <li class="input-group-addon beautiful" *ngFor='let sauce of sauces'>
            <input type='checkbox' name='sauce' value='{{sauce}}' (change)='selectSauce($event, sauce)'>{{sauce.type}} {{sauce.price}}$
          </li>
        </ul>
        <!-- <span class='selected-product'>Selected sauces:
          <li  *ngFor = 'let pr of selectedSauces' class = 'checked'>
           {{ pr.type }} {{pr.price}}$
          </li>
        </span> -->
      </div>
    </li>

    <li>
      <h3 *ngIf='createCustomPizza()'> Your current amount is: {{createCustomPizza()}}</h3>
    </li>
  </ul>

  <button class='btn btn-success' type='button' (click)='completePizza()'>
    <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>Create pizza</button>
<br>
  <button class='btn btn-danger' type='button' (click)='clearData()'>
    <span class="glyphicon btn-glyphicon glyphicon-minus img-circle text-warning"></span>Clear all</button>
  


</div>