<div id="make-pizza-container">


  <ul>
    <li class='select-menu'>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose size
  <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li *ngFor="let size of sizes">
            <input type="radio" name='pizzaSize' value='{{size}}' [(ngModel)]='selectedSize'>{{size}}
          </li>
        </ul>
        <span class='selected-product'>Selected size: {{ selectedSize }}</span>
      </div>
    </li>

    <li class='select-menu'>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose flour
  <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li *ngFor="let flour of flours">
            <input type="radio" name='flourType' value='{{flour}}' [(ngModel)]='selectedFlour'>{{flour}}
          </li>
        </ul>
        <span class='selected-product'>Selected flour: {{ selectedFlour }}</span>
      </div>
    </li>

    <form #d="ngForm">
      <li class='select-menu'>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose dairy
  <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li *ngFor="let dairy of dairies">
              <input type="checkbox" name='dairy' value='{{dairy}}' (change) = 'selectDairy($event, dairy)'>{{dairy}}
            </li>
          </ul>
        <span class='selected-product' >Selected dairies:
          <li *ngFor = 'let pr of selectedDairies' class = 'checked'>
           {{ pr }}
          </li>
        </span>
        </div>
      </li>
    </form>


    <li class='select-menu'>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose meat
  <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li *ngFor="let meat of meats">
            <input type='checkbox' name='meat' value='{{meat}}' (change) = 'selectMeat($event, meat)'>{{meat}}
          </li>
        </ul>
        <span class='selected-product'>Selected meats: 
          <li *ngFor = 'let pr of selectedMeats' class = 'checked'>
           {{ pr }}
          </li>
        </span>
      </div>
    </li>

    <li class='select-menu'>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose sauce
  <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li *ngFor="let sauce of sauces">
            <input type='checkbox' name='sauce' value='{{sauce}}' (change) = 'selectSauce($event, sauce)'>{{sauce}}
          </li>
        </ul>
        <span class='selected-product' >Selected sauces:
          <li *ngFor = 'let pr of selectedSauces' class = 'checked'>
           {{ pr }}
          </li>
        </span>
      </div>
    </li>

  </ul>

</div>