
h2 {
        color: #7c795d; 
        font-family: 'Trocchi', 
        serif; font-size: 45px; 
        font-weight: normal; 
        line-height: 48px; 
        position: relative;
        text-align: center;
        top: 100px;
}

h3{
    font-family: Courier New, Courier, monospace;
    font-weight: bold;
    color: red;
}


  #make-pizza-container{
    height: 45em;
    top: 150px;
    background-image: url('../../../assets/pizza-images/custom-pizza-background.jpg'); 
    position: relative;
    text-align: left;
   
} 

.selected-product{
    font-size: 18px;
    font-weight: bold;
}


.checked {
    display: inline;
}

.toast-top-full-width {
    top: 50px;
    margin-top: 50px;
}

button{
    margin-right: 50px;
}

ul {
    list-style-type: none;

}


ul .select-menu{
    font-size: 50px;
    display: inline;
}
