#intro-div {
    position: relative;
    background-image: url('../assets/pizza-hub-img.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    min-height: 100vh;
    margin-top: -15px;
}

#intro-content {
    position: absolute;
    top: 150px;
}

#intro-content h1 {
    color: white;
}