
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" routerLink="">PizzaHub</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#">Home</a></li> -->
        <li class="dropdown">
          <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul> -->
        </li>
        <li><a routerLink="/pizzas">Menu</a></li>
        <li><a routerLink = "/pizzas/makePizza">Make your own pizza</a></li>
        <li><a *ngIf="auth.isAdmin()" routerLink="/orders" [queryParams]="{page: 1}">Orders</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a *ngIf="auth.isLoggedIn()" routerLink="/profile"><span class="glyphicon glyphicon-user"></span> {{currentUser.username}} </a></li>        
        <li><a *ngIf="!auth.isLoggedIn()" routerLink="/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
        <li><a *ngIf="!auth.isLoggedIn()" routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a *ngIf="auth.isLoggedIn()" routerLink="/cart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
        <li><a *ngIf="auth.isLoggedIn()" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>