<!-- <div id="intro-div">
  <div id="intro-content" class="container">
    <div class="row">
      <div class="col-md-6 pull-right">
        <h1 class="text-center">Greetings, traveller. Care to taste the finest of pizzas?
        </h1>
      </div>
    </div>
  </div>
</div> -->
<main>
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="../../assets/pizza-hub-img.jpg" alt="Chania">
        <div class="carousel-caption">
          <h3>PizzaHub</h3>
          <p>Enjoy your stay!</p>
        </div>
      </div>

      <div class="item">
        <img src="../../assets/pizza-hub-img2.jpg" alt="Chicago">
        <div class="carousel-caption">
          <h3>Never be botherd</h3>
          <p>Have some free time? Enjoy a conversation with our friendly staff!</p>
        </div>
      </div>

      <div class="item">
        <img src="../../assets/pizza-hub-img3.jpg" alt="New York">
        <div class="carousel-caption">
          <h3>Interested?</h3>
          <p>Give us a shot!</p>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>
</main>