main {
    background-image: url('../../../assets/wooden-background.jpg');
}

#pizza-container {
    margin-bottom: 125px;
}

@media only screen and (max-width: 991px) {
	#pizza-container {
        margin-bottom: 175px;
    }
}