<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3><span class="glyphicon glyphicon-copyright-mark"></span> PizzaHub 2017, Team: The Sable Donkeys</h3>
      </div>
      <div class="col-md-6">
        <h3>Follow us on</h3>
        <ul class="social-network social-circle">
          <li><a class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
          <li><a class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
          <li><a class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>